@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;600&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Oswald', sans-serif;

}
.activeLink{
    border-bottom: 1.5px solid rgb(0,255,0);
}

/* INICIO CONFIGURAÇÃO DO HEADER E FOOTER */
header{
    display: flex;
    align-items: center;
    justify-content: center;
    height: 120px;
    width:100%;
    background-color: #0077fe;
    border-bottom: 3px solid rgb(0,255,0);
    color: white;
}
header img{
    width: 128px;
    display: none;
}
header a{
    color: white;
    text-decoration: none;
    transition: .3s
}
header ul{
    display: flex;
    gap: 26px;
    list-style: none;
    text-transform: uppercase;
}
header li{
    font-size: .9rem;
}
header a:hover{
    color: rgb(0,255,0);
}
main{
    height: 90vh;
}
.mainIndex{
    background-image: none;
    color: white;
    text-shadow: 4px 2px 12px black;
}
.textoInicio{
    display: none;
}
.botao{
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 200px;
    height: 50px;
    border: none;
    border-radius: 20px;
    background-color: #0077fe;
    font-size: 2rem;
    text-transform: uppercase;
    color: rgb(0,255,0);
    transition: 1s;
}
footer{
    display: flex;
    flex-direction: column-reverse;
    gap: 40px;
    padding: 20px;
    height: 350px;
    justify-content: space-around;
    align-items: center;
    background-color: #0077fe;
    border-top: 3px solid rgb(0,255,0);
}
footer ul{
    list-style: none;
    line-height: 2.5;
    color: white;
}
footer>img{
    display: none;
}
footer ul li{
    transition: .1s;
    text-transform: uppercase;
}
footer ul li:hover{
    color: rgb(0,255,0);
    cursor:pointer
}
.redes-icones img{
    width: 34px;
}
.redes-icones img:hover{
    border: 2px solid rgb(0,255,0);
    border-radius: 50%;
    cursor: pointer
}
.redes-sociais{
    display: flex;
    align-items: center;
    color: white;
    text-transform: uppercase;
    gap: 30px;
}

@media (min-width: 1000px){
    header{
        justify-content: space-around;
    }
    header ul{
        gap: 90px;
        font-size: 1.3rem;
    }
    header li{
        font-size: 1.1rem
    }
    header img{
        display: block;
    }
    .botao{

    }
    .botao:hover{
        width: 150px;
        height: 150px;
        background-color: red;
        color: white;
        border-radius: 50%;
        cursor: pointer
    }
    .mainIndex{
        background-image: url(../img/foguete.gif);
        background-repeat: no-repeat;
        background-position: top right;
    }
    .textoInicio{
        display: block;
    }
    footer{
        flex-direction: row;
    }
    footer>img{
        display: block;
    }
}
@media (min-width: 1700px){
    .anima {
        text-align: center;
        justify-content: center;
        display: inline-block;
        border-right: 2px solid #000000;
        padding-right: 3px ;
        max-width: 0; 
        white-space: nowrap;
        overflow: hidden;
        animation: pisca normal infinite .8s, escrever normal 5s steps(55) both;
    }
    .anima{
        font-size: 3rem;
    }   
}
/* FIM CONFIGURAÇÃO DO HEADER E FOOTER */



.anima span{
    text-transform: uppercase;
    color: rgb(0,255,0);

}
.cardText{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}
@keyframes pisca {
    100%{
        border-right-color: transparent;
    }
}

@keyframes escrever {
    100%{
        max-width: 100%;
    }

}


